$color-content: #020202;
$color-brand: #38BBE8;
//$color-brand-2: #3c3c3e;
//$color-brand-2: #7F7F7F;
$color-brand-2: #333335;
$color-brand-bg: #F2F2F2;

// The grays are mainly used for the texts and UI-elements
$color-white: #fff;
$color-gray-10: #f3f3f3;
$color-gray-15: #f8f8f8;
$color-gray-20: #e3e3e3;
$color-gray-30: #d3d3d3;
$color-gray-40: #b3b3b3;
$color-gray-50: #939393;
$color-gray-60: #737373;
$color-gray-70: #535353;
$color-gray-80: #333;
$color-black: #000;


// Fonts
$font-primary: Calibri, Roboto, Helvetica, Arial, sans-serif;
$font-secondary: 'Times New Roman', Helvetica, Arial, sans-serif;;

$font-size-small: 10px;
$font-size: 12px;
$font-size-large: 14px;

$line-height-base: 1.5;
$line-height-small: 1.2;

$font-weight-base: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

//@font-face {
//    font-family: 'KPN Metric';
//    src: url('/fonts/KPNMetricWeb-Bold.woff2') format('woff2'),
//    url("/fonts/KPNMetricWeb-Bold.woff") format("woff");
//    font-weight: 700;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'KPN Metric';
//    src: url('/fonts/KPNMetricWeb-Light.woff2') format('woff2'),
//    url("/fonts/KPNMetricWeb-Light.woff") format("woff");
//    font-weight: 200;
//    font-style: normal;
//}


// Margins
$margin: 10px;

// Typography mapping as specified in KPN style guide.
// Each breakpoint takes two values, font-size and line-height.
$breakpoints: (
        extraSmall: 425px,
        small: 768px,
        medium: 992px,
        large: 1200px,
        extraLarge: 2000px
);

$base-font-sizes: (
        default: (12px, 1.5),
        small: (12px, 1.5),
        medium: (12px, 1.5)
);

$h1-font-sizes: (
        default: (28px, 1),
        small: (24px, 1),
        medium: (28px, 1.09)
);

$h2-font-sizes: (
        default: (14px, 1),
        small: (14px, 1),
        medium: (14px, 1)
);

$h3-font-sizes: (
        default: (24px, 1),
        small: (24px, 1),
        medium: (24px, 1)
);

$h4-font-sizes: (
        default: (13px, 1.2),
        small: (13px, 1.2),
        medium: (13px, 1.2)
);

$h5-font-sizes: (
        default: (12px, 1.2),
        small: (12px, 1.2),
        medium: (12px, 1.2),
        large: (12px, 1.2)
);