@import 'config';
@import 'mixins';

h1 {
    margin: 0 0 $margin;
    font-family: $font-secondary;
    @include font-size($h1-font-sizes);
    font-weight: $font-weight-bold;
    color: $color-brand;
    text-transform: uppercase;
}

h2 {
    font-family: $font-secondary;
    @include font-size($h2-font-sizes);
    font-weight: $font-weight-bold;
    color: $color-brand;
    margin: 2*$margin 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $color-brand;
    line-height: 0.1em!important;

    span {
        background-color: $color-white;
        padding :0 $margin;
    }
}

h3 {
    font-family: $font-secondary;
    color: $color-brand;
    @include font-size($h3-font-sizes);
    margin: $margin 0;
}

h4 {
    @include font-size($h4-font-sizes);
    margin: $margin 0;
}

h5 {
    @include font-size($h5-font-sizes);
}

.center {
    text-align: center;
}
.text {
    &-strong {
        font-weight: $font-weight-bold;
    }

    &-italic {
        font-style: italic;
    }
}